<div class="card" style="box-sizing: border-box;position: relative;">

    <div class="flex gap-4" style="justify-content: space-between;">

        <div style="background-color: rgba(71, 75, 74, 0.096); width: 50%; min-height:calc(85vh);">

        </div>

        <div style="width: 50%;">
            <div class="mb-3 p-1">
                <p class="font-semibold mb-1">Enterprise Name</p>
                <input pInputText id="username" style="width: 90%;" autocomplete="off" />
            </div>
            <div class="mb-3 p-1" >
                <p class="font-semibold mb-1">Enterprise Email</p>
                <input pInputText id="username" style="width: 90%;" autocomplete="off" />
            </div>
            <div class="mb-3 p-1">
                <p class="font-semibold mb-1">Enterprise Phone</p>
                <input pInputText id="username" style="width: 90%;" autocomplete="off" />
            </div>
            <div class="mb-3 p-1">
                <p class="font-semibold mb-1">Currency</p>
                <input pInputText id="username" style="width: 90%;" autocomplete="off" />
            </div>
            <div class="mb-3 p-1">
                <p class="font-semibold mb-1">Time Zone</p>
                <input pInputText id="username" style="width: 90%;" autocomplete="off" />
            </div>
            <div>
                <button mat-stroked-button>Edit Info</button>
            </div>
            
        </div>
        
    </div>
  
</div>


