<div class="card flex flex-wrap gap-3">
  

  <div class="p-2   border-1  w-15rem h-10rem drop-column" pDroppable (onDrop)="rdrop()">
    <ul class="list-none flex flex-column gap-2 p-0 m-0">
      <li
        *ngFor="let product of availableProducts"
        class="p-2 border-round shadow-1"
        pDraggable
        (onDragStart)="dragStart(product)"
        (onDragEnd)="dragEnd()"
      >
        {{ product.name }}
      </li>
    </ul>
  </div>

  <div class="p-2   border-1  w-15rem h-10rem drop-column" pDroppable (onDrop)="drop()">
    <ul class="list-none flex flex-column gap-2 p-0 m-0">
      <li
        *ngFor="let product of selectedProducts"
        class="p-2 border-round shadow-1"
        pDraggable
        (onDragStart)="rdragStart(product)"
        (onDragEnd)="rdragEnd()"
      >
        {{ product.name }}
      </li>
    </ul>
  </div>
</div>
