<div style="position: relative" class="mb-2">
    <div class="posc p-2">
      <input
        type="text"
        style="width: 75%; padding-left: 1rem; border-radius: 5px"
        pInputText
        placeholder="Search"
      />
    </div>
    <div class="posc gap-3">
        <div>
            <input type="checkbox"> Email
        </div>
        <div>
            <input type="checkbox"> Account
        </div>
        <div>
            <input type="checkbox"> Phone
        </div>
        <div>
            <input type="checkbox"> Pet
        </div>
    </div>
    <!-- Filtered Accounts -->
    <div
      class="posc p-2"
      style="
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 100%;
      "
    >
      <div
        class="p-2"
        style="
          width: 500px;
          max-height: 800px;
          border: 1px solid rgba(97, 96, 96, 0.322);
          border-radius: 6px;
          background-color: aliceblue;
          z-index: 1;
        "
      >
        <!-- Your content here -->
        <p>hello</p>
        <p>hello</p>
        <p>hello</p>
        <p>hello</p>
        <p>hello</p>
        <p>hello</p>
      </div>
    </div>
  </div>