<router-outlet></router-outlet>

<p-meterGroup [value]="value" />


<div class="card">
  <div class="flex align-items-center justify-content-center mb-4">
    <a (click)="changeTheme('saga-blue')" class="mr-3 cursor-pointer">
      <img src="assets/images/themes/saga-blue.png" width="50" />
    </a>
    <a (click)="changeTheme('vela-blue')" class="mr-3 cursor-pointer">
      <img src="assets/images/themes/vela-blue.png" width="50" />
    </a>
    <a (click)="changeTheme('arya-blue')" class="mr-3 cursor-pointer">
      <img src="assets/images/themes/arya-blue.png" width="50" />
    </a>
    <a (click)="changeTheme('md-light-indigo')" class="mr-3 cursor-pointer">
      <img src="assets/images/themes/md-light-indigo.svg" width="50" />
    </a>
    <a (click)="changeTheme('md-dark-indigo')" class="mr-3 cursor-pointer">
      <img src="assets/images/themes/md-dark-indigo.svg" width="50" />
    </a>
    <a
      (click)="changeTheme('bootstrap4-light-purple')"
      class="mr-3 cursor-pointer"
    >
      <img src="assets/images/themes/bootstrap4-light-purple.svg" width="50" />
    </a>
    <a
      (click)="changeTheme('bootstrap4-dark-purple')"
      class="mr-3 cursor-pointer"
    >
      <img src="assets/images/themes/bootstrap4-dark-purple.svg" width="50" />
    </a>
  </div>
</div>
