<!-- <p-button label="Open All" [text]="true" (onClick)="toggleAll()" /> -->
<div class="card ml-4" style="min-height: 100vh">
  <div class="posc">
    <input
      type="text"
      style="width: 35%; padding-left: 1rem; border-radius: 5px"
      pInputText
      placeholder="Search"
    />
  </div>
  
  <p-tabView>

    <p-tabPanel header="Enterprise Management">
      <div class="flex gap-4">
        <div class="card p-3 cursor-pointer" style="width: 280px; height: 180px;" routerLink="service-configuration">
          <h2>Sub Accounts</h2>
          <p class="m-0">Lorem ipsum dolor sit amet...</p>
        </div>
        <div class="card p-3 cursor-pointer" style="width: 280px; height: 180px;" routerLink="employee-configuration">
          <h2>Employee Configuration</h2>
          <p class="m-0">Lorem ipsum dolor sit amet...</p>
        </div>
        <div class="card p-3" style="width: 280px; height: 180px;">
          <h2>Business Hours</h2>
          <p class="m-0">Lorem ipsum dolor sit amet...</p>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Business Management">
      <div class="flex gap-4">
        <div class="card p-3 cursor-pointer" style="width: 280px; height: 180px;" routerLink="service-configuration">
          <h2>Service Configuration</h2>
          <p class="m-0">Lorem ipsum dolor sit amet...</p>
        </div>
        <div class="card p-3 cursor-pointer" style="width: 280px; height: 180px;" routerLink="employee-configuration">
          <h2>Employee Configuration</h2>
          <p class="m-0">Lorem ipsum dolor sit amet...</p>
        </div>
        <div class="card p-3" style="width: 280px; height: 180px;">
          <h2>Business Hours</h2>
          <p class="m-0">Lorem ipsum dolor sit amet...</p>
        </div>
      </div>
      
    </p-tabPanel>
    
    <p-tabPanel header="Header 3">
      <ng-template pTemplate="content">
        Complex Content to Lazy Load
      </ng-template>
    </p-tabPanel>

  </p-tabView>
</div>
