<!-- <p-button label="Open All" [text]="true" (onClick)="toggleAll()" /> -->
<div class="card" style="min-height: 100vh">
 
  
  <p-tabView>
    <p-tabPanel header="Enterprise Management">
      <div class="posc mb-5">
        <input
          type="text"
          style="width: 35%; padding-left: 1rem; border-radius: 5px"
          pInputText
          placeholder="Search"
        />
      </div>
      <div class="flex gap-4">
        <div class="cards" style="width: 280px; height: 180px;" routerLink="enterprise/general">
          <p class="card-title">Enterprise Configurations</p>
          <p class="small-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
            veritatis nobis saepe itaque rerum nostrum aliquid obcaecati odio
          </p>
          <div class="go-corner">
            <div class="go-arrow">→</div>
          </div>
        </div>
        <div class="cards" style="width: 280px; height: 180px;" routerLink="enterprise/sub-account">
          <p class="card-title">Business Configurations</p>
          <p class="small-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
            veritatis nobis saepe itaque rerum nostrum aliquid obcaecati odio
          </p>
          <div class="go-corner">
            <div class="go-arrow">→</div>
          </div>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Business Management">
      <div class="posc mb-5">
        <input
          type="text"
          style="width: 35%; padding-left: 1rem; border-radius: 5px"
          pInputText
          placeholder="Search"
        />
      </div>
      <div class="flex gap-4">
        <div class="cards" style="width: 280px; height: 180px; padding: 1em 1.2em;" routerLink="business">
          <p-tag severity="info" value="Health Care" />
          <p class="card-title mt-2">Dog Station</p>
          <p class="small-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
          </p>
          <div class="go-corner">
            <div class="go-arrow">→</div>
          </div>
        </div>
        <div class="cards" style="width: 280px; height: 180px; padding: 1em 1.2em;" routerLink="business">
          <p-tag severity="info" value="Health Care" />
          <p class="card-title mt-2">PuppyCharge</p>
          <p class="small-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
          </p>
          <div class="go-corner">
            <div class="go-arrow">→</div>
          </div>
        </div>
      </div>

      
    </p-tabPanel>
    
    <p-tabPanel header="Entity Configuration">
      <div class="flex gap-4">
        <div class="card p-3 cursor-pointer" style="width: 280px; height: 180px;" routerLink="entity-configuration">
          <h2>Entity Configuration</h2>
          <p class="m-0">Lorem ipsum dolor sit amet...</p>
        </div>
        <div class="card p-3 cursor-pointer" style="width: 280px; height: 180px;" routerLink="immunization-configuration">
          <h2>Immunization </h2>
          <p class="m-0">Lorem ipsum dolor sit amet...</p>
        </div>
        <div class="card p-3" style="width: 280px; height: 180px;" routerLink="feeding-configuration">
          <h2>Feeding </h2>
          <p class="m-0">Lorem ipsum dolor sit amet...</p>
        </div>
        <div class="card p-3" style="width: 280px; height: 180px;" routerLink="medication-configuration">
          <h2>Medication </h2>
          <p class="m-0">Lorem ipsum dolor sit amet...</p>
        </div>
      </div>
    </p-tabPanel>

  </p-tabView>
</div>
