<div class="container">

    <div class="navigator">
      <daypilot-navigator [config]="configNavigator" [events]="events" [(date)]="date" (dateChange)="changeDate($event)" #navigator></daypilot-navigator>
      <div class="pt-2">
        <app-dashboard-meter [dataSource]="meter"></app-dashboard-meter>
      </div>
    </div>

    <div class="content">
      <div class="buttons">
        <div>
          <div style="display: flex; justify-content: start;">
            <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="values.value" (change)="businessChange()">
              <mat-button-toggle value="service" aria-label="Text align left" style="padding: .2rem; ">
                <mat-icon>event_available</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle value="boarding" aria-label="Text align center" style="padding: .2rem;">
                <mat-icon>hotel</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle value="daycare" aria-label="Text align left" style="padding: .2rem;">
                <mat-icon>light_mode</mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>

        <div>
          <button *ngIf="values.value == 'service'" (click)="viewDay()" [class]="this.configNavigator.selectMode == 'Day' ? 'selected' : ''" >Day</button>
          <button *ngIf="values.value == 'service'" (click)="viewWeek()" [class]="this.configNavigator.selectMode == 'Week' ? 'selected' : ''">Week</button>
          <button  (click)="viewMonth()" [class]="this.configNavigator.selectMode == 'Month' ? 'selected' : ''">Month</button>
        </div>
      </div>
      
      <daypilot-month [config]="configMonth" [events]="events" #month class="calendar"></daypilot-month>
      <daypilot-calendar [config]="configWeek" [events]="events" #week class="calendar"></daypilot-calendar>
      <daypilot-calendar [config]="config" #calendar></daypilot-calendar>
    </div>

</div>

<div *ngIf="confirmationDialogVisible" class="confirmation-dialog">
  <p>Do you want to save the changes?</p>
  <button (click)="confirmChanges()">Confirm</button>
  <button (click)="discardChanges()">Discard</button>
</div>

<p-sidebar [(visible)]="sidebarVisible"  [style]="{ width: '40%', margin: 'auto' }" position="right" dismissible="false" [modal]="false">
  <ng-template pTemplate="header">
      <span class="font-semibold text-xl">Event Manager</span>
  </ng-template>
  <ng-container *ngIf="view=='CLIENT' && sidebarVisible">
    <app-event-manager [event]="selectedEvent"></app-event-manager>
  </ng-container>
</p-sidebar>
