.example-container {
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    border-radius: 5px;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  
  table {
    width: 100%;
  }
  
  .shade{
      box-shadow: -4px 2px 6px -3px #0000, 0 8px 10px 1px #00000014, 0 -3px #41a049;
  }

  .posc {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
